body{
    padding-top: 20px;
    padding-left: 20px;
    background-color: gray;
}

.readme{
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;

}

table{
    text-align: left;

}

.top{
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}


.content {
    margin-left: 35px;
}
