<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <title>{{ title }}</title>
    <h2>README</h2>
    <div class="readme">
        {% for line in text %}
            {% if 'http' in line %}
                <p><a href = '{{ line }}'> {{ line }}</a></p>
            {% else %}
                <p>{{ line }}</p>
            {% endif %}
        {% endfor %}
    </div>

</head>
<body>

</body>
</html>