{% extends "base.html" %}

{% block content %}
   <div class="header">
       <p>Results:</p>
   </div>
   <table class="content" cellpadding="2px" cellspacing="10px">
       <tr>
       {% for col in head %}
           <td class="top">{{ col }}</td>
       {% endfor %}
       </tr>
       {% for item in items %}
               <tr >
                   {% for i in item %}
                       <td>{{ i }}</td>
                   {% endfor %}
               </tr>
       {% endfor %}
   <table>
{% endblock %}